@use "../colors";

%link {
  color: colors.$blue;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;

    transition: 200ms linear background;
    background: transparentize(colors.$blue, 0.7);
  }

  &:hover::after {
    background: transparentize(colors.$blue, 0.5);
  }
}
