@use "../colors";

%link {
  color: colors.$blue;
  text-decoration: none;

  transition: 200ms linear border-bottom-color;
  border-bottom: 2px solid transparentize(colors.$blue, 0.7);

  &:hover {
    border-bottom-color: transparentize(colors.$blue, 0.5);
  }
}
