@use "./colors";

@mixin spinner($size: 50px, $color: colors.$green, $thickness: 3px) {
  border: $thickness solid $color;
  border-top-color: transparent;
  border-radius: 50%;

  width: $size;
  height: $size;

  animation: 1s linear spin infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
