@use "./colors";
@use "./content";
@use "./formatted";

// General

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;

  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;

  background: colors.$background;
  color: colors.$background-c;
}

html, body, #__nuxt, #__layout {
  min-height: 100vh;
}

// Transitions

.page-enter-active, .page-leave-active {
  transition: 100ms ease opacity;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.page-enter-to, .page-leave {
  opacity: 1;
}

// Other

.content {
  @include content.content();
}

::selection {
  background-color: transparentize(colors.$blue, 0.7);
}
